OPENAI_API_KEY=sk-proj-your-key-here
AI_BASE_URL=https://ollama.com:5016/v1
AI_API_KEY=ollama-your-key-here
MODEL_NAME=model_name
OLLAMA_WEB_SEARCH_API_KEY=ollama-web-search-key-here
#OLLAMA_WEB_SEARCH_URL=https://ollama.com/api/web_search
