OPENAI_API_KEY=sk-proj-your-key-here
AI_BASE_URL=https://ollama.com:5016/v1
AI_API_KEY=ollama-your-key-here
MODEL_NAME=model_name
OLLAMA_WEB_SEARCH_API_KEY=ollama-web-search-key-here
#OLLAMA_WEB_SEARCH_URL=https://ollama.com/api/web_search
GOOGLE_API_KEY=your-google-api-key-here
GOOGLE_IMAGE_MODEL=gemini-3.1-flash-image-preview
GOOGLE_IMAGE_ASPECT_RATIO=1:1
# GOOGLE_IMAGE_SIZE=1K
# GOOGLE_API_BASE_URL=https://generativelanguage.googleapis.com/v1beta
